@use "sass:math";
@use "../../basic/setting" as *;

main.order {
    padding-top: clampVw((150 * .7), 150, 150, 1440);
    padding-bottom: clampVw((137 * .7), 137, 137, 1440);
    @include tab {
        padding-top: clampVw((96 * .7), 96, 96, 820);
        padding-bottom: clampVw((100 * .7), 100, 100, 820);
    }
    @include sp {
        @include clampVwRange(padding-top, 48, 375);
        @include clampVwRange(padding-bottom, 70, 375);
    }

    .container {
        width: min(90%, 1065px);
        @include margin-center;
        @include sp {
            width: 92%;
        }
    }

    .deco {
        font-size: clampVw(132, 160, 160, 1440);
        letter-spacing: .1em;
        color: var(--co-gray-li);
        text-align: center;
        position: relative;
        @include tab {
            font-size: clampVw(98, 132, 132, 1024);
        }
        @include sp {
            font-size: clampVw(64, 64, 98, 375);
        }
        
        &::before {
            content: attr(data-title);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            font-size: rem(30);
            font-size: clampVw(26, 30, 30, 1440);
            font-weight: 600;
            color: #000;
            letter-spacing: .25em;
            @include tab {
                top: 48%;
                font-size: clampVw(21, 26, 26, 1024);
            }
            @include sp {
                top: 45%;
                font-size: clampVw(15, 16, 21, 430);
                letter-spacing: .1em;
            }
        }
    }

    .hero {
        margin-top: clampVw((104 * .7), 104, 104, 1440);
        background-image: url(./images/page/jpg/img-semi-order-hero01.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: clampVw(88, 108, 108, 1440);
        padding-bottom: clampVw(60, 72, 72, 1440);
        @include tab {
            padding-top: clampVw(72, 88, 88, 820);
            padding-bottom: clampVw(48, 60, 60, 820);
            margin-top: clampVw(64, 72, 72, 820);
        }
        @include sp {
            padding-top: clampVw(56, 56, 72, 430);
            padding-bottom: clampVw(40, 40, 48, 430);
            margin-top: clampVw(48, 48, 64, 430);
        }

        .hero_inner {
            padding-top: clampVw(64, 78, 78, 1440);
            padding-bottom: clampVw(56, 72, 72, 1440);
            text-align: center;
            background-color: rgb(255, 255, 255, .6);
            @include tab {
                padding: clampVw(56, 64, 64, 820) clampVw(24, 24, 32, 820) clampVw(48, 56, 56, 820);
            }
            @include sp {
                padding: clampVw(40, 40, 56, 430) clampVw(16, 16, 24, 430) clampVw(32, 32, 48, 430);
            }

            &_title {
                font-size: clampVw(40, 44, 44, 1440);
                line-height: 1.6;
                letter-spacing: .25em;
                @include tab {
                    letter-spacing: .22em;
                    font-size: clampVw(30, 40, 40, 1024);
                }
                @include sp {
                    letter-spacing: .18em;
                    font-size: clampVw(20, 22, 32, 430);
                }
            }

            &_text {
                margin-top: clampVw(44, 44, 52, 1440);
                font-size: rem(17);
                font-weight: 500;
                @include tab {
                    margin-top: clampVw(38, 38, 44, 820);
                    font-size: rem(16)
                }
                @include sp {
                    margin-top: clampVw(30, 30, 38, 430);
                    font-size: clampVw(14, 14, 16, 430);
                }
            }
        }
    }

    .about {
        @include clampVwPercent(margin-top, 150, 1440);
        @include tab {
            margin-top: clampVw(80, 105, 105, 1024);
        }
        @include sp {
            margin-top: clampVw(64, 64, 80, 430);
        }

        .about_list {
            margin-top: rem(30);
            text-align: center;

            li {
                font-size: rem(18);
                line-height: 2.4;
                font-weight: 500;
                @include tab {
                    font-size: rem(16);
                }
                @include sp {
                    font-size: clampVw(14, 14, 16, 430)
                }
            }
        }
    }

    .flow {
        @include clampVwPercent(margin-top, 180, 1440);
        @include tab {
            margin-top: clampVw(80, 105, 105, 1024);
        }
        @include sp {
            margin-top: clampVw(64, 64, 80, 430);
        }

        &_inner {
            display: flex;
            align-items: center;
            width: min(96%, 1500px);
            column-gap: pct(155, 1500);
            margin-top: rem(20);
            @include tab-sp {
                width: 90%;
                flex-direction: column;
                @include margin-center;
            }
            @include tab {
                margin-top: rem(30);
            }


            &_image {
                width: pct(805, 1500);
                @include tab-sp {
                    width: 100%;
                }
            }
    
            &_list {
                width: pct(540, 1500);
                padding-top: rem(23);
                padding-bottom: rem(23);
                @include tab-sp {
                    width: 100%;
                    padding-top: 0;
                    padding-bottom: 0;
                }
                @include tab {
                    margin-top: rem(48);
                }
                @include sp {
                    margin-top: rem(32);
                }


                .item {
                    &:not(:first-of-type) {
                        margin-top: rem(42);
                        @include tab {
                            margin-top: rem(32);
                        }
                        @include sp {
                            margin-top: rem(24);
                        }
                    }

                    span {
                        display: block;
                        font-size: 30px;
                        line-height: 1.4;
                        @include tab {
                            font-size: rem(26);
                        }
                        @include sp {
                            font-size: clampVw(20, 20, 26, 430);
                        }
                    }
    
                    p {
                        font-size: rem(17);
                        line-height: 1.4;
                        letter-spacing: .07em;
                        margin-top: rem(12);
                        @include tab {
                            font-size: rem(16);
                        }
                        @include sp {
                            margin-top: rem(8);
                            font-size: clampVw(14, 14, 16, 430)
                        }
                    }
                }
            }
        }
    }

    .price {
        @include clampVwPercent(margin-top, 172, 1440);
        @include tab {
            margin-top: clampVw(80, 105, 105, 1024);
        }
        @include sp {
            margin-top: clampVw(64, 64, 80, 430);
        }

        &_table, tbody {
            margin-top: rem(20);
            display: block;
            width: 100%;

            .price_table_item {
                display: flex;

                &:not(:first-of-type) {
                    padding-top: rem(25);
                    @include sp {
                        padding-top: rem(20);
                    }
                }
                
                &:not(:last-of-type) {
                    padding-bottom: rem(30);
                    border-bottom: .7px solid #000;
                    @include sp {
                        padding-bottom: rem(25);
                    }
                }

                th,td {
                    width: 50%;
                    font-size: rem(18);
                    letter-spacing: .1em;
                    font-weight: 500;
                    @include tab {
                        font-size: rem(16);
                    }
                    @include sp {
                        font-size: clampVw(14, 14, 16, 430)
                    }
                }

                th {
                    text-align: right;
                    padding-right: rem(70);
                    @include tab {
                        padding-right: rem(60);
                    }
                    @include sp {
                        padding-right: clampVw(40, 40, 54, 430);
                    }
                }

                td {
                    text-align: left;
                }
            }
        }
    }

    .faq {
        @include clampVwPercent(margin-top, 150, 1440);
        @include tab {
            margin-top: clampVw(80, 105, 105, 1024);
        }
        @include sp {
            margin-top: clampVw(64, 64, 80, 430);
        }
        
        &_content {
            margin-top: rem(16);

            &_item {
                .question {
                    display: flex;
                    font-size: rem(18);
                    letter-spacing: .25em;
                    background-color: var(--co-gray-hv);
                    color: #fff;
                    padding: rem(13) rem(40) rem(13) rem(24);
                    cursor: pointer;
                    position: relative;
                    @include tab {
                        letter-spacing: .22em;
                        font-size: rem(16);
                    }
                    @include sp {
                        letter-spacing: .18em;
                        font-size: clampVw(14, 14, 16, 430);
                        padding: rem(10) rem(32) rem(10) rem(16);
                    }

                    &::after {
                        content: '';
                        background-image: url(./images/common/icon-arw-dbl-rgt-blc.svg);
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        width: 16px;
                        height: 16px;
                        position: absolute;
                        top: 50%;
                        right: 24px;
                        transform: translateY(-50%) rotate(90deg);
                        filter: invert(96%) sepia(1%) saturate(6%) hue-rotate(351deg) brightness(117%) contrast(100%);
                        transition: transform .4s ease;
                        @include sp {
                            right: 16px;
                            width: 14px;
                            height: 14px;
                        }
                    }

                    &.active {
                        &::after {
                            transform: translateY(-50%) rotate(-90deg);

                        }
                    }
                }

                .answer {
                    font-size: rem(16);
                    margin: rem(24); 
                    height: 0;
                    overflow: hidden;
                    transition: height .5s ease, margin-top .5s ease, margin-bottom, .5s ease;
                    @include tab {
                        letter-spacing: .22em;
                        margin: rem(20);
                        font-size: rem(16);
                    }
                    @include sp {
                        letter-spacing: .18em;
                        margin: rem(16);
                        font-size: clampVw(14, 14, 16, 430);
                    }

                    span {
                        display: block;
                    }

                    p {
                        &:first-of-type {
                            margin-top: rem(10);
                        }

                        &:last-of-type {
                            margin-bottom: rem(40);
                            @include tab {
                                margin-bottom: rem(32);
                            }
                            @include sp {
                                margin-bottom: rem(24);
                            }
                        }
                    }
                }
            }
        }
    }
}