@use "sass:math";
@use "../../basic/setting" as *;

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(20px);
    background-color: rgb(0, 0, 0, 50%);
    z-index: 9999;

    &_content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .loader {
        width: 50px;
        @include margin-center();
        aspect-ratio: 1;
        border-radius: 50%;
        background:
        radial-gradient(farthest-side,var(--co-wht) 94%,#0000) top/8px 8px no-repeat,
        conic-gradient(#0000 30%,var(--co-wht));
        -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
        animation: loading 1s infinite linear;
    }
    p {
        text-align: center;
        font-family: var(--fo-zom);
        color: var(--co-wht);
    }

    &_text {
        margin-top: 1.2rem;
        font-size: rem(20);

        @include sp {
            font-size: rem(18);
        }

        &-large {
            margin-top: rem(10);
            font-size: rem(32);

            @include tab {
                white-space: pre-line;
            }

            @include sp {
                font-size: rem(24);
            }
        }
    }
}