@use "../../basic/setting" as *;
@use "sass:math";

.venue {

    @include tab {
        padding-right: pct(40, 1024);
        padding-left: pct(40, 1024);
    }

    @include sp {
        padding-right: pct(20, 375);
        padding-left: pct(20, 375);
    }

    .wrapper {
        background-color: var(--wp--preset--color--white);
        
        @include pc {
            max-width: clampVw(802, 1604, 1604, 1920);
            padding-right: 5%;
            padding-bottom: clampVw(48, 80, 80, 1920);
            padding-left: 5%;
            border-radius: clampVw(10, 20, 20, 1920);
        }

        @include tab {
            padding-right: pct(40, 1024);
            padding-bottom: clampVw(48, 80, 80, 1920);
            padding-left: pct(40, 1024);
            border-radius: clampVw(8, 16, 16, 1024);
        }

        @include sp {
            padding-right: pct(20, 375);
            padding-bottom: clampVw(24, 32, 40, 375);
            padding-left: pct(20, 375);
            border-radius: clampVw(4, 6, 8, 375);
        }
    }

    &_title {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-weight: bold;

        @include pc {
            row-gap: clampVw(14, 20, 20, 1920);
            font-size: clampVw(24, 32, 32, 1920);
        }

        @include tab {
            row-gap: clampVw(10, 16, 16, 1024);
            font-size: clampVw(22, 28, 28, 1024);
        }

        @include sp {
            row-gap: clampVw(10, 16, 16, 375);
            font-size: clampVw(18, 20, 24, 375);
            line-height: 1.5;
        }

        &::after {
            display: inline-block;
            content: "";
            aspect-ratio: 21/2;
            background-color: var(--co-blue-dr);

            @include pc {
                width: clampVw(36, 42, 42, 1920);
            }

            @include tab {
                width: clampVw(24, 36, 36, 1024);
            }

            @include sp {
                width: clampVw(20, 24, 32, 375);
            }
        }
    }

    &_list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @include pc {
            column-gap: clampVw(20, 40, 40, 1920);
            row-gap: clampVw(36, 52, 52, 1920);
            margin-top: clampVw(36, 60, 60, 1920);
            max-width: rem(1332);
            margin-right: auto;
            margin-left: auto;
        }

        @include tab {
            justify-content: center;
            column-gap: clampVw(16, 26, 26, 1024);
            row-gap: clampVw(20, 30, 30, 1024);
            margin-top: clampVw(28, 48, 48, 1024);
        }

        @include sp {
            row-gap: clampVw(12, 16, 20, 375);
            margin-top: clampVw(20, 24, 32, 375);
        }

        &_item {

            @include pc {
                width: pct(417, 1332);
            }

            @include tab {
                width: clampVw(204, 272, 272, 1024);
            }

            @include sp {
                width: 100%;
            }

            &_link {
                display: flex;
                align-items: center;
                position: relative;
                background-color: var(--co-blue-dr);
                transition: var(--trs-opc);

                @include pc {
                    column-gap: clampVw(18, 28, 28, 1920);
                    border-radius: clampVw(4, 8, 8, 1920);
                }

                @include tab {
                    column-gap: clampVw(8, 16, 16, 1024);
                    border-radius: clampVw(3, 6, 6, 1024);
                }

                @include sp {
                    column-gap: clampVw(14, 20, 24, 375);
                    border-radius: clampVw(4, 4, 6, 375);
                }

                &:hover {
                    opacity: .4;
                }

                &::after {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    aspect-ratio: 1/1;
                    background-image: url(./images/common/svg/arrow-white-round-bl-li.svg);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: contain;
                    content: "";

                    @include pc {
                        right: clampVw(10, 20, 20, 1920);
                        width: clampVw(22, 30, 30, 1920);
                    }
                    
                    @include tab {
                        right: clampVw(8, 16, 16, 1024);
                        width: clampVw(12, 16, 20, 768);
                    }
                    
                    @include sp {
                        right: clampVw(16, 20, 24, 375);
                        width: clampVw(16, 20, 24, 375);
                    }
                }

                &_figure {

                    aspect-ratio: 1/1;

                    @include pc {
                        width: clampVw(80, 130, 130, 1920);
                    }

                    @include tab {
                        width: clampVw(48, 90, 90, 1024);
                    }

                    @include sp {
                        width: clampVw(64, 75, 100, 375);
                    }

                    img {
                        object-fit: cover;

                        @include pc {
                            border-top-left-radius: clampVw(4, 8, 8, 1920);
                            border-bottom-left-radius: clampVw(4, 8, 8, 1920);
                        }

                        @include tab {
                            border-top-left-radius: clampVw(3, 6, 6, 1024);
                            border-bottom-left-radius: clampVw(3, 6, 6, 1024);
                        }

                        @include sp {
                            border-top-left-radius: clampVw(4, 4, 6, 375);
                            border-bottom-left-radius: clampVw(4, 4, 6, 375);
                        }
                    }
                }

                &_text {

                    color: var(--wp--preset--color--white);
                    font-weight: bold;

                    @include pc {
                        font-size: clampVw(16, 24, 24, 1920);
                    }

                    @include tab {
                        font-size: clampVw(14, 16, 16, 1024);
                    }
                }
            }
        }
    }
}