:root {
    --co-wht: #FFF;
    --co-gray-li: #f2f2f2;
    --co-gray: #e6e6e6;
    --co-ohr: #C4B06E;
    --co-gray-dr-th: #4d4d4d;
    --co-gray-dr: #333;
    --co-gray-hv: #1a1a1a;
    --co-blc: #000;
    --fo-zom: "Zen Old Mincho", serif;
    --fo-pfd: "Playfair Display", serif;
    --trs-bsc: all ease .4s;
    --trs-top: top ease .4s;
    --trs-rgt: right ease .4s;
    --trs-vbt: visibility ease .4s;
    --trs-tsf: transform ease .4s;
    --trs-opc: opacity ease .4s;
    --trs-mxh: max-height ease .6s;
    --trs-pt: padding-top ease .6s;
    --trs-pb: padding-bottom ease .6s;
    --trs-bgc: background-color ease .4s;
    --trs-bgi: background-image ease .4s;
    --trs-boc: border-color ease .4s;
    --trs-col: color ease .4s;
    --trs-ftr: filter ease .4s;
}